In [25]:
df = pd.DataFrame([
    [1, 2, 3, ],
    [4, 5, 6, ],
    [7, 8, 9, ],
])

In [26]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [29]:
df[df[0]>1][0] = "GO"

/home/haseeb/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
df

    0   1   2
0  go  go  go
1   4   5   6
2  go  go  go

In [12]:
dfmi = pd.DataFrame([list('abcd'),
   list('efgh'),                      
   list('ijkl'),
   list('mnop')
   ],columns=pd.MultiIndex.from_product([['one', 'two'],
                                         ['first', 'second']]))

In [13]:
dfmi

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

In [15]:
dfmi["one"]

  first second
0     a      b
1     e      f
2     i      j
3     m      n

In [34]:
df = pd.read_csv("http://bit.ly/imdbratings")

In [40]:
df.content_rating.isnull().sum()

3

In [41]:
f = pd.DataFrame({'a':[1,2,3,4,5], 'b':[10,20,30,40,50]})
f

   a   b
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [44]:
f[f['a'] <= 3]['b'] = 5

/home/haseeb/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [45]:
f

   a   b
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [3]:
df = pd.DataFrame([
    [1, 2, 3, ],
    [4, 5, 6, ],
    [7, 8, 9, ],
])

In [4]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [1]:
import pandas as pd
import numpy as np

In [7]:
# Let us import the IMDB Movie Ratings
df = pd.read_csv("http://bit.ly/imdbratings")

In [8]:
df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [9]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [10]:
# One way we can achieve that would be:

In [12]:
df[df.title == "The Shawshank Redemption"].duration = 150

/home/haseeb/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [16]:
df.loc[df.title == "The Shawshank Redemption", "duration" ] = 150

In [17]:
df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,150,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [19]:
# Well, when we execute
# df[df.title == "The Shawshank Redemption"].duration = 150
# There are essentially two things happening

In [20]:
# df[df.title == "The Shawshank Redemption"] is behind the scenes a __getitem__ operation.
# Want to see how?

In [21]:
# Let's try it out

In [22]:
df[df.title == "The Shawshank Redemption"]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,150,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."

In [23]:
# Pandas can not guarantee whether this will return a view or a copy

In [24]:
# ANd the other opertion that is on the first operation is said to be chained...
# __OtherOperation__.duration = 150

In [25]:
# The right way to do that would be to explicitly tell pandas that this is a single operation

In [30]:
df.loc[df.title == "The Shawshank Redemption","duration"] = 160

In [31]:
# This tells pandas that this is a single operation...

In [32]:
df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,160,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [33]:
# See?

In [34]:
# Now there is another caveat that we need to be aware of...

In [35]:
# Suppose we want to add an NaN to all the missing ratings...

In [36]:
# Let's see how we can do that...

In [41]:
df.content_rating.isnull()

0      False
1      False
2      False
3      False
4      False
       ...
974    False
975    False
976    False
977    False
978    False
Name: content_rating, Length: 979, dtype: bool

In [42]:
df.content_rating.isnull().sum()

3

In [43]:
top_rated = df.loc[df.star_rating >= 9]

In [44]:
top_rated

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,160,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."

In [2]:
url = "http://bit.ly/imdbratings"

In [3]:
df = pd.read_csv(url)

In [6]:
import pandas as pd

In [1]:
top_rated

NameError: name 'top_rated' is not defined

In [9]:
df = pd.DataFrame([
    [1,2,3],
    [4,5,6],
    [7,8,9],
])

In [10]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [13]:
df.where(df[0]>1)

     0    1    2
0  NaN  NaN  NaN
1  4.0  5.0  6.0
2  7.0  8.0  9.0

In [14]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [21]:
df[0]>1

0    False
1     True
2     True
Name: 0, dtype: bool

In [22]:
condition = df[0]>1

In [23]:
df[condition]

   0  1  2
1  4  5  6
2  7  8  9

In [28]:
df[df[0]>4]

   0  1  2
2  7  8  9

In [29]:
df = df.where(df[0]>4)

In [30]:
df

     0    1    2
0  NaN  NaN  NaN
1  NaN  NaN  NaN
2  7.0  8.0  9.0

In [36]:
df = df.dropna(axis=0)

In [37]:
df

     0    1    2
2  7.0  8.0  9.0

In [33]:
df.dropna(axis=0, inplace=True)

In [34]:
df

     0    1    2
2  7.0  8.0  9.0

In [3]:
import numpy as np

In [4]:
ar = np.array([
    [1,2,3],
    [4,5,6],
    [7,8,9],
])

In [5]:
ar = ar.astype("object")

In [14]:
ar.dtype

dtype('O')

In [27]:
ar[0] = "Hello"

In [0]:
ar

In [0]:
ar[0] = [1]

In [0]:
type(ar[0][0])

In [66]:
var = ar[0:2]

In [67]:
var

array([[1, 1, 1],
       [4, 5, 6]], dtype=object)

In [68]:
var[0] = "Hi"

In [69]:
var

array([['Hi', 'Hi', 'Hi'],
       [4, 5, 6]], dtype=object)

In [70]:
ar

array([['Hi', 'Hi', 'Hi'],
       [4, 5, 6],
       [7, 8, 9]], dtype=object)

In [71]:
ar

array([['Hi', 'Hi', 'Hi'],
       [4, 5, 6],
       [7, 8, 9]], dtype=object)

In [72]:
v = ar[0]

In [73]:
v

array(['Hi', 'Hi', 'Hi'], dtype=object)

In [74]:
v[0] = "Hello"

In [75]:
ar

array([['Hello', 'Hi', 'Hi'],
       [4, 5, 6],
       [7, 8, 9]], dtype=object)

In [76]:
v = ar[0].copy()

In [77]:
v[0] = "Go"

In [78]:
v

array(['Go', 'Hi', 'Hi'], dtype=object)

In [79]:
ar

array([['Hello', 'Hi', 'Hi'],
       [4, 5, 6],
       [7, 8, 9]], dtype=object)

In [80]:
# df.loc[0]
# ar[0]

In [81]:
ar

array([['Hello', 'Hi', 'Hi'],
       [4, 5, 6],
       [7, 8, 9]], dtype=object)

In [82]:
ar[0:2,0:2]

array([['Hello', 'Hi'],
       [4, 5]], dtype=object)

In [83]:
# Fancy Indexing
arr = ar[[0,2,1][0,]]

TypeError: list indices must be integers or slices, not tuple

In [84]:
arr

NameError: name 'arr' is not defined

In [85]:
arr[0] = "hoo"

NameError: name 'arr' is not defined

In [86]:
arr

NameError: name 'arr' is not defined

In [87]:
ar

array([['Hello', 'Hi', 'Hi'],
       [4, 5, 6],
       [7, 8, 9]], dtype=object)

In [88]:
# Fancy Indexing returns copy
arr = ar[[0,2,1]]

In [89]:
arr[:,[0,2,1]]

array([['Hello', 'Hi', 'Hi'],
       [7, 9, 8],
       [4, 6, 5]], dtype=object)

In [90]:
arr

array([['Hello', 'Hi', 'Hi'],
       [7, 8, 9],
       [4, 5, 6]], dtype=object)

In [91]:
arr[[0,1,0],[0,2,1]]

array(['Hello', 9, 'Hi'], dtype=object)

In [104]:
import pandas as pd
df = pd.DataFrame([
    [1,2,3],
    [4,5,6],
    [7,8,9],
])

In [105]:
df[0]._is_view

True

In [106]:
df[0:2]._is_view

True

In [107]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [108]:
a = df[0]

In [109]:
a._is_view

True

In [110]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [111]:
df[0] = np.arange(3.)

In [112]:
df

     0  1  2
0  0.0  2  3
1  1.0  5  6
2  2.0  8  9

In [113]:
np.arange(3.)

array([0., 1., 2.])

In [116]:
df[1] = df[1].astype(float)

In [126]:
a = df.loc[1]
a

0    1.0
1    5.0
2    6.0
Name: 1, dtype: float64

In [125]:
a._is_view

False

In [129]:
df = df.astype(int)

In [130]:
df

   0  1  2
0  0  2  3
1  1  5  6
2  2  8  9

In [135]:
df.loc[0:1] = 2.0

In [136]:
df

     0    1    2
0  2.0  2.0  2.0
1  2.0  2.0  2.0
2  1.0  1.0  1.0

In [143]:
df = pd.DataFrame([
    [1,2,3],
    [4,5,6],
    [7,8,9],
])

In [144]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [146]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [147]:
df.loc[1,2]

6

In [148]:
df.loc[1,2] = 10.0

In [149]:
df

   0  1     2
0  1  2   3.0
1  4  5  10.0
2  7  8   9.0

In [150]:
df

   0  1     2
0  1  2   3.0
1  4  5  10.0
2  7  8   9.0

In [151]:
df = pd.DataFrame([
    [1,2,3],
    [4,5,6],
    [7,8,9],
])

In [152]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [155]:
df.loc[0:1]._is_view

True

In [156]:
df.loc[0,0] = 1.0

In [157]:
df

     0  1  2
0  1.0  2  3
1  4.0  5  6
2  7.0  8  9

In [158]:
df.loc[0]._is_view

False

In [159]:
df[0]._is_view

True

In [160]:
df

     0  1  2
0  1.0  2  3
1  4.0  5  6
2  7.0  8  9

In [170]:
df[df[0]>1][0] = 9.0

/home/haseeb/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [172]:
df = pd.DataFrame([
    [1,2,3],
    [4,5,6],
    [7,8,9],
])

In [178]:
df[df[0]>1][0] = 9

/home/haseeb/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [174]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [176]:
df.loc[df[0]>1,0] = 9

In [177]:
df

   0  1  2
0  1  2  3
1  9  5  6
2  9  8  9

In [180]:
df[df[0]>1]

False

In [181]:
df[1]._is_view

True

In [188]:
df[0]>1

0    False
1     True
2     True
Name: 0, dtype: bool

In [186]:
df

   0  1  2
0  1  2  3
1  9  5  6
2  9  8  9

In [187]:
newdf

   0  1  2
1  9  5  6
2  9  8  9

In [197]:
newdf = df.loc[:,df[0]>1]

In [198]:
newdf

   1  2
0  2  3
1  5  6
2  8  9

In [199]:
newdf.loc[0,1] = 10

/home/haseeb/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/home/haseeb/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [200]:
newdf

    1  2
0  10  3
1   5  6
2   8  9

In [117]:
df

     0    1  2
0  0.0  2.0  3
1  1.0  5.0  6
2  2.0  8.0  9