# Starting IN SHA ALLAH

In [24]:
import pandas as pd
import numpy as np

In [2]:
data = [1, 2, 3 ]

In [3]:
labels = ['b','c','d']

In [5]:
pd.Series(data)

0    1
1    2
2    3
dtype: int64

In [15]:
d = dict.fromkeys([1,2,3],None)
d

{1: None, 2: None, 3: None}

In [17]:
pd.Series(d)

1    None
2    None
3    None
dtype: object

In [20]:
d = {int:sum}

In [21]:
pd.Series(d)

<class 'int'>    <built-in function sum>
dtype: object

In [22]:
l = [sum,min,max]

In [23]:
l[1]((1,2,3))

1

In [25]:
np.array(l)

array([<built-in function sum>, <built-in function min>,
       <built-in function max>], dtype=object)

In [26]:
p = print

In [27]:
p(1)

1

#### Adding Series

In [36]:
s1 = pd.Series((1,2,3,4,5))

In [37]:
s2 = pd.Series(range(5))

In [38]:
s1 + s2

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [39]:
s1/s2

0         inf
1    2.000000
2    1.500000
3    1.333333
4    1.250000
dtype: float64

In [40]:
s1*s2

0     0
1     2
2     6
3    12
4    20
dtype: int64