In [1]:
import pandas as pd

In [2]:
import numpy as np

In [7]:
from numpy.random import randn

In [8]:
np.random.seed(110)

In [10]:
ar = randn(5,4)

In [12]:
d  = pd.DataFrame(ar, ["A","B","C","D","E"],["W","X","Y","Z"])

In [13]:
d

          W         X         Y         Z
A -1.467635  1.794009 -1.661406 -0.058978
B  0.243002  1.578052  1.566281 -1.243515
C  0.537586 -0.843777  0.104712 -0.481808
D -0.648558 -0.766339  1.565242 -0.738421
E  0.212053  0.157047 -0.685050  0.563044

In [15]:
d['W']

A   -1.467635
B    0.243002
C    0.537586
D   -0.648558
E    0.212053
Name: W, dtype: float64

In [24]:
d['W']['A']

-1.46763512634131

In [26]:
d[['W',"X"]]

          W         X
A -1.467635  1.794009
B  0.243002  1.578052
C  0.537586 -0.843777
D -0.648558 -0.766339
E  0.212053  0.157047

In [27]:
d.drop("A")

          W         X         Y         Z
B  0.243002  1.578052  1.566281 -1.243515
C  0.537586 -0.843777  0.104712 -0.481808
D -0.648558 -0.766339  1.565242 -0.738421
E  0.212053  0.157047 -0.685050  0.563044

In [38]:
d.drop('W',axis=1)

          X         Y         Z
B  1.578052  1.566281 -1.243515
C -0.843777  0.104712 -0.481808
D -0.766339  1.565242 -0.738421
E  0.157047 -0.685050  0.563044

In [39]:
d

          W         X         Y         Z
B  0.243002  1.578052  1.566281 -1.243515
C  0.537586 -0.843777  0.104712 -0.481808
D -0.648558 -0.766339  1.565242 -0.738421
E  0.212053  0.157047 -0.685050  0.563044

In [34]:
d

          W         X         Y         Z
B  0.243002  1.578052  1.566281 -1.243515
C  0.537586 -0.843777  0.104712 -0.481808
D -0.648558 -0.766339  1.565242 -0.738421
E  0.212053  0.157047 -0.685050  0.563044

In [41]:
d.shape

(4, 4)

In [43]:
d['new'] = d['W'] + d['Z']

In [46]:
df = d.drop("B")

In [47]:
d.shape

(4, 5)

In [48]:
d

          W         X         Y         Z       new
B  0.243002  1.578052  1.566281 -1.243515 -1.000514
C  0.537586 -0.843777  0.104712 -0.481808  0.055777
D -0.648558 -0.766339  1.565242 -0.738421 -1.386979
E  0.212053  0.157047 -0.685050  0.563044  0.775098

In [49]:
df

          W         X         Y         Z       new
C  0.537586 -0.843777  0.104712 -0.481808  0.055777
D -0.648558 -0.766339  1.565242 -0.738421 -1.386979
E  0.212053  0.157047 -0.685050  0.563044  0.775098

In [50]:
d

          W         X         Y         Z       new
B  0.243002  1.578052  1.566281 -1.243515 -1.000514
C  0.537586 -0.843777  0.104712 -0.481808  0.055777
D -0.648558 -0.766339  1.565242 -0.738421 -1.386979
E  0.212053  0.157047 -0.685050  0.563044  0.775098

In [51]:
d.loc["B"]

W      0.243002
X      1.578052
Y      1.566281
Z     -1.243515
new   -1.000514
Name: B, dtype: float64

In [53]:
d.loc["B"]["W"]

0.2430016212818774

In [54]:
d

          W         X         Y         Z       new
B  0.243002  1.578052  1.566281 -1.243515 -1.000514
C  0.537586 -0.843777  0.104712 -0.481808  0.055777
D -0.648558 -0.766339  1.565242 -0.738421 -1.386979
E  0.212053  0.157047 -0.685050  0.563044  0.775098

In [56]:
d["W"]["B"]

0.2430016212818774

In [57]:
d[["W","X"]]

          W         X
B  0.243002  1.578052
C  0.537586 -0.843777
D -0.648558 -0.766339
E  0.212053  0.157047

In [65]:
d

          W         X         Y         Z       new
B  0.243002  1.578052  1.566281 -1.243515 -1.000514
C  0.537586 -0.843777  0.104712 -0.481808  0.055777
D -0.648558 -0.766339  1.565242 -0.738421 -1.386979
E  0.212053  0.157047 -0.685050  0.563044  0.775098

In [76]:
d.loc[["B"],["X"]]

          X
B  1.578052