In [3]:
1+1

2

In [2]:
print(4)

4

In [4]:
list1 = [1,2,3,4]

In [8]:
print(1)
print(2)
3
"Haseeb"
44

1
2

44

In [9]:
[1,2,3]

[1, 2, 3]

In [11]:
5
list1

[1, 2, 3, 4]

In [12]:
list1[1:3]

[2, 3]

In [13]:
for i in range(5):
    print(i)

0
1
2
3
4

In [17]:
list1[0:4:2]

[1, 3]

In [18]:
list2 = ["A","B","C","D","Ahmed",2]

In [19]:
for item in list2:
    print(item)

A
B
C
D
Ahmed
2

In [84]:
list2[-3:-5:-1]

['D', 'C']

In [27]:
a = 1
b = 2
c = b

In [28]:
c = a

In [29]:
a,b,c

(1, 2, 1)

In [31]:
l1 = [1,2,3]

In [36]:
l2 = [4,5,6]

In [37]:
l1 = l2

In [38]:
l1

[4, 5, 6]

In [39]:
l2

[4, 5, 6]

In [40]:
l2[1] = "Ahmed"

In [41]:
l2

[4, 'Ahmed', 6]

In [42]:
l1

[4, 'Ahmed', 6]

In [43]:
l1[0] = "Good"

In [44]:
l1

['Good', 'Ahmed', 6]

In [52]:
b = "Ahmed"

In [53]:
c = "Ahmed"

In [54]:
b == c

True

In [55]:
b is c

True

In [113]:
id(b)

140139418761960

In [57]:
id(c)

140139418761960

In [58]:
a = "Ahmed"

In [59]:
b = "Ahmed"

In [60]:
c = b

In [61]:
c = "Addan"

In [62]:
c

'Addan'

In [63]:
b

'Ahmed'

In [64]:
b

'Ahmed'

In [78]:
print(b[-1:0:-1])

demh

In [85]:
b

'Ahmed'

In [88]:
b[:]

'Ahmed'

In [93]:
b[0:-6:-1]

'A'

In [96]:
for i in range(0,-100,-1):
    print(i)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15
-16
-17
-18
-19
-20
-21
-22
-23
-24
-25
-26
-27
-28
-29
-30
-31
-32
-33
-34
-35
-36
-37
-38
-39
-40
-41
-42
-43
-44
-45
-46
-47
-48
-49
-50
-51
-52
-53
-54
-55
-56
-57
-58
-59
-60
-61
-62
-63
-64
-65
-66
-67
-68
-69
-70
-71
-72
-73
-74
-75
-76
-77
-78
-79
-80
-81
-82
-83
-84
-85
-86
-87
-88
-89
-90
-91
-92
-93
-94
-95
-96
-97
-98
-99

In [98]:
y = input()

 50

In [99]:
y

'50'

In [100]:
v = 1

In [101]:
float(v)

1.0

In [102]:
str(v)

'1'

In [103]:
bool(v)

True

In [104]:
bool([])

False

In [105]:
bool([1,2])

True

In [111]:
v = int(input(""))

 100

In [112]:
v

100

In [110]:
int(v)+50

100

In [114]:
PI = 3.14

In [115]:
PI += 1

In [116]:
password = input("Enter password: ")

Enter password:  dfdg

In [117]:
password = input("\033[06mType Password:\033[08m")

Type Password: sdfsdf

In [141]:

ids = [17573005, 17572342, 17579000, 17570002, 17572345, 17579329]
def last_four(id):
    id = str(id)
    print(id[-4:len(id)])
    return id[-1:-5:-1]
#sorted_id = sorted(ids, key=last_four)
for id in ids:
    last_four(id)

3005
2342
9000
0002
2345
9329

In [124]:
b = [1,2,3]

In [143]:
# first string
firstString = "abc"
secondString = "ghi"
thirdString = "ab"

string = "abcdef"
print("Original string:", string)

translation = string.maketrans(firstString, secondString)

# translate string
print("Translated string:", string.translate(translation))

Original string: abcdef
Translated string: ghidef

In [127]:
b.reverse()

In [172]:
import string
test_case = ['hello', '...', '','h3.a', 'ds4,']
st = [s.translate(str.maketrans(dict.fromkeys(
    string.punctuation+string.digits,None))
                 ) for s in test_case if s]

In [173]:
d = dict.fromkeys(string.punctuation+string.digits,None)

In [167]:
st = [s for s in st if s]

In [174]:
st

['hello', '', 'ha', 'ds']

In [163]:
[None for x in range(len(string.punctuation))]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [181]:
int("1")

1